<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281448722894-3nlg2cd288iji6t3gsqm0qd2ufm8tl0j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281448722894-3nlg2cd288iji6t3gsqm0qd2ufm8tl0j</string>
	<key>API_KEY</key>
	<string>AIzaSyB68-ASaAaWC6TmFTufh0ILlv3uPKsmbv4</string>
	<key>GCM_SENDER_ID</key>
	<string>281448722894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.katarzynasowa.najlepszaKawa</string>
	<key>PROJECT_ID</key>
	<string>najlepsza-kawa-rzeszow</string>
	<key>STORAGE_BUCKET</key>
	<string>najlepsza-kawa-rzeszow.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281448722894:ios:665198e2d035ec57bd7b9f</string>
</dict>
</plist>